header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.2rem;

  .lightspeed-logo {
    width: 192px;

    &__flame {
      fill: $c-pri;
    }
  }

  nav {

    .nav-primary {
      display: flex;

      &__item {
        font-size: 1.6rem;

        &--withsub {
        }
      }
    }

    .subnav-primary {
      opacity: 0;
      clip-path: rect(0, 0, 0, 0);
    }
  }
}
